/** RESET */
* {
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
}

/** OVERALL */
body {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
    font-size: 15px;
    line-height: 1.8;
    color: #333;
    background: #fbfbfb;
    letter-spacing: -0.15px;
    padding: 25px 40px 25px 40px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.wrap {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}

/** HEADER */
.header {
    width: 100%;
    line-height: 1;
    text-align: right;
    margin-bottom: 100px;
}

.header a {
    display: inline-block;
    font-size: 13px;
    color: #999;
    text-decoration: none;
    margin-left: 20px;
}

.header a.plus {
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    background: #111;
    border-radius: 2px;
    padding: 6px 10px 6px 10px;
}

/** POSTS */
.posts {
    display: flow-root;
}

.posts .column {
    width: calc(50% - 25px);
}

.posts .column.left {
    margin-right: 25px;
}

.posts .column.right {
    margin-left: 25px;
}

.posts .column .title {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #999;
    margin-bottom: 20px;
}